
.small-12.large-12.columns.no-padding
    .padding-medium
          ul.no-bullet.no-padding.no-margin
            li.display-inline-block.padding-xxlarge-left(style = "margin-left:20px;float: right")
              a.link-gray.hover-black(ng-click="$ctrl.openNewFolderPopup()")
                .text-center
                  .icon
                    i(class="fa fa-plus fa-2x")
                  .title
                    span.font-small پوشه جدید
            li.display-inline-block.padding-xxlarge-left(style = "margin-left:20px;float: right")
              a.link-gray.hover-black(ng-click="$ctrl.openFileUploaderPopup()")
                .text-center
                  .icon
                    i(class="fa fa-upload fa-2x")
                  .title
                    span.font-small بارگذاری
            li.display-inline-block.padding-xxlarge-left(style = "margin-left:20px;float: right")
              a.link-gray.hover-black(ng-click="$ctrl.openRenamePopup()")
                .text-center
                  .icon
                    i(class="fa fa-pencil fa-2x")
                  .title
                    span.font-small تغییرنام فلدر
            li.display-inline-block.padding-xxlarge-left(style = "margin-left:20px;float: right")
              a.link-gray.hover-black(ng-click="$ctrl.openRenameFilePopup()")
                .text-center
                  .icon
                    i(class="fa fa-pencil fa-2x")
                  .title
                    span.font-small تغییرنام فایل
            li.display-inline-block.padding-xxlarge-left(style = "margin-left:20px;float: right")
              a.link-gray.hover-black(ng-click="$ctrl.removeFolder()")
                .text-center
                  .icon
                    i(class="fa fa-trash fa-2x")
                  .title
                    span.font-small حذف فلدر
            li.display-inline-block.padding-xxlarge-left(style = "margin-left:20px;float: right")
              a.link-gray.hover-black(ng-click="$ctrl.removeFile()")
                .text-center
                  .icon
                    i(class="fa fa-trash fa-2x")
                  .title
                    span.font-small حذف فایل

.small-12.large-12.columns.no-padding
    .small-3.large-3.columns.padding-toolarge
        h6 فایل های شما
        script(type="text/ng-template" id="treecontrol.html")
          div(class="jstree-rtl jstree-default")
            ul.treeview.jstree-container-ul.jstree-children
              li.jstree-node(ng-repeat="node in node.{{options.nodeChildren}}"
                ng-class="headClass(node)", set-node-to-data)
                  i.jstree-icon.jstree-ocl(ng-class="iBranchClass()", ng-click="selectNodeHead(node)")
                  div(class="tree-label {{options.labelClass}}", 
                    ng-class="[selectedClass(), unselectableClass()]"
                    ng-click="selectNodeLabel(node)", tree-transclude)

                  treeitem(ng-show="nodeExpanded()")
        treecontrol(
          tree-model='$ctrl.ngModel',
          options='$ctrl.treeOptions', 
          on-selection='$ctrl.selectNode(node)', 
          selected-node='$ctrl.nodeRefForSelect',
          selected-nodes='$ctrl.selectedNodes',
          filter-expression='getFilter()',
          filter-comparator='getFilterComparator()')
          i.jstree-icon.jstree-themeicon 
          span {{node.label}}
    .small-8.large-8.columns.padding-toolarge-top
      .explorer-view(style="border: solid #36b1bf;")
        //- viewMode = grid
        //- div
        //-   .explorer-grid-mode
        //-     ul.no-bullet.grid
        //-       li.explorer(
        //-         ng-class="{'selected': file.selected}", 
        //-         ng-repeat='file in $ctrl.files')
        //-         a.padding-large.link-gray.hover-black.container(
        //-           ng-click='$ctrl.selectItem(file)', 
        //-           ng-dblclick='preview(file)')
        //-           .text-center(ng-switch="file.fileTypeName")
        //-             div(ng-switch-when='image') 
        //-               img(src='http://server.abbasmoghadasi.com/Uploads/{{file.url}}', width='84px')
        //-             div(ng-switch-when='audio')
        //-               i.fa.fa-file-audio-o.fa-3x
        //-             div(ng-switch-when='video')
        //-               i.fa.fa-file-video-o.fa-3x
        //-             div(ng-switch-when='zip')
        //-               i.fa.fa-fw.fa-folder-open.fa-3x
        //-             div(ng-switch-default)
        //-               i.fa.fa-file-o.fa-3x
        //-             .padding-large-top
        //-               span.font-small.no-select
        //-                 | {{file.name || file.title | limitTo: 15 }}

        //- viewMode = list
        div
          .explorer-list-mode
            .header.padding-large-bottom
              .row
                .small-12.large-2.columns
                  span تصویر
                .small-12.large-5.columns
                  span نام
                .small-12.large-2.columns
                  span لینک

            ul.no-bullet.list
              li.explorer(
              ng-class="{'selected': file.selected}",
              ng-repeat='file in $ctrl.files')
                a.padding-large.link-gray.hover-black(
                  ng-click='$ctrl.selectItem(file)',
                  ng-dblclick='preview(file)')
                  .row
                    .small-12.large-2.columns
                      div(ng-switch='file.fileTypeName')
                        div(ng-switch-when='image') 
                          img(src='http://server.abbasmoghadasi.com/Uploads/{{file.url}}', width='24px')
                        div(ng-switch-when='audio')
                          i.fa.fa-file-audio-o.fa-2x
                        div(ng-switch-when='video')
                          i.fa.fa-file-video-o.fa-2x
                        div(ng-switch-default)
                          i.fa.fa-file-o.fa-2x
                    .small-12.large-5.columns
                      h6.font-small.no-select.no-padding.no-margin {{file.name || file.title | limitTo: 45 }}
                    .small-12.large-2.columns
                      a(href="http://server.abbasmoghadasi.com/Uploads/{{file.url}}",target="_blank") لینک