.add
  ul.tabs(data-tabs, id='leadTabs')
    li.tabs-title.is-active
      a(href='#basicInfo',aria-selected='true') اطلاعات پایه
    li.tabs-title
      a(href='#extraInfo') اطلاعات تکمیلی

  div.tabs-content(data-tabs-content='leadTabs')
    div.tabs-panel.is-active(id='basicInfo')
      form-viewer(schema="AddViewModel.basicInfo",
                dir="rtl",
                model="AddViewModel.basicModel",
                form="AddViewModel.basicForm",
                current-language="AddViewModel.currentLanguage",
                options="AddViewModel.basicOptions")
    div.tabs-panel(id='extraInfo') 
      div(ng-switch="AddViewModel.basicModel.fa[0].ProfileTypeId")
        div(ng-switch-when=1)
          realperson(model='model')
        div(ng-switch-default)
          organization(model='model')
        .row
          .small-12.columns
            button.button.primary.float-left.text-white(type="button", ng-click="AddViewModel.addLead()") ثبت سرنخ
      


      

  script.
    $(document).foundation();